<a href="https://colab.research.google.com/github/khoa2210/Hoc-Python/blob/main/Naive_bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Khai báo thư viện

In [2]:
import numpy as np 
import matplotlib.pyplot as plt 
import pandas as pd

Nhập tập dữ liệu

In [3]:
dataset = pd.read_csv('https://raw.githubusercontent.com/mk-gurucharan/Classification/master/IrisDataset.csv')
X = dataset.iloc[:,:4].values
y = dataset['species'].values
dataset.head(5)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

Tách tập dữ liệu thành tập huấn luyện và tập kiểm tra

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

Tính năng mở rộng quy mô

In [5]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

Đào tạo mô hình Phân loại Naive Bayes

In [6]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, y_train)

GaussianNB()



---

Đào tạo mô hình Phân loại Naive Bayes

In [8]:
y_pred = classifier.predict(X_test) 
y_pred

array(['setosa', 'virginica', 'virginica', 'virginica', 'versicolor',
       'virginica', 'virginica', 'setosa', 'virginica', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'virginica', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'setosa', 'setosa', 'virginica',
       'setosa', 'versicolor', 'versicolor', 'setosa', 'virginica',
       'setosa', 'versicolor'], dtype='<U10')

Ma trận nhầm lẫn và độ chính xác

In [11]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
from sklearn.metrics import accuracy_score 
print ("Accuracy : ", accuracy_score(y_test, y_pred))
cm

Accuracy :  0.9666666666666667

array([[ 7,  0,  0],
       [ 0, 13,  0],
       [ 0,  1,  9]])

So sánh giá trị thực với giá trị dự đoán

In [10]:
df = pd.DataFrame({'Real Values':y_test, 'Predicted Values':y_pred})
df

   Real Values Predicted Values
0       setosa           setosa
1    virginica        virginica
2    virginica        virginica
3    virginica        virginica
4   versicolor       versicolor
5    virginica        virginica
6    virginica        virginica
7       setosa           setosa
8    virginica        virginica
9   versicolor       versicolor
10  versicolor       versicolor
11  versicolor       versicolor
12  versicolor       versicolor
13  versicolor       versicolor
14   virginica       versicolor
15   virginica        virginica
16  versicolor       versicolor
17  versicolor       versicolor
18  versicolor       versicolor
19  versicolor       versicolor
20      setosa           setosa
21      setosa           setosa
22   virginica        virginica
23      setosa           setosa
24  versicolor       versicolor
25  versicolor       versicolor
26      setosa           setosa
27   virginica        virginica
28      setosa           setosa
29  versicolor       versicolor