<a href="https://colab.research.google.com/github/khoa2210/Hoc-Python/blob/main/SVM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Khai báo thư viện

In [1]:
import numpy as np 
import matplotlib.pyplot as plt 
import pandas as pd

Nhập tập dữ liệu

In [5]:
dataset = pd.read_csv('https://raw.githubusercontent.com/mk-gurucharan/Classification/master/IrisDataset.csv')
x = dataset.iloc[:,:4].values
y = dataset['species'].values
dataset.head(5)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

Tách tập dữ liệu thành tập huấn luyện và tập kiểm tra

In [6]:
from sklearn.model_selection import train_test_split
x_train,x_test, y_train, y_test=train_test_split(x,y,test_size=0.30)

Tính năng mở rộng quy mô

In [8]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(x_train)
X_test = sc.transform(x_test)

Đào tạo mô hình Phân loại SVM

In [9]:
from sklearn.svm import SVC
classifier = SVC()
classifier.fit(X_train, y_train)

SVC()



---

Đào tạo mô hình Phân loại SVM

In [10]:
y_pred = classifier.predict(X_test) 
y_pred

array(['versicolor', 'setosa', 'virginica', 'virginica', 'versicolor',
       'virginica', 'virginica', 'setosa', 'versicolor', 'setosa',
       'versicolor', 'setosa', 'virginica', 'setosa', 'virginica',
       'virginica', 'virginica', 'virginica', 'setosa', 'versicolor',
       'setosa', 'setosa', 'virginica', 'versicolor', 'versicolor',
       'setosa', 'versicolor', 'setosa', 'virginica', 'virginica',
       'setosa', 'versicolor', 'virginica', 'versicolor', 'versicolor',
       'versicolor', 'virginica', 'setosa', 'versicolor', 'versicolor',
       'virginica', 'setosa', 'virginica', 'setosa', 'versicolor'],
      dtype=object)

Ma trận nhầm lẫn và độ chính xác

In [11]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
from sklearn.metrics import accuracy_score 
print ("Accuracy : ", accuracy_score(y_test, y_pred))
cm

Accuracy :  0.9333333333333333

array([[14,  0,  0],
       [ 0, 15,  3],
       [ 0,  0, 13]])

So sánh giá trị thực với giá trị dự đoán

In [12]:
df = pd.DataFrame({'Real Values':y_test, 'Predicted Values':y_pred})
df

   Real Values Predicted Values
0   versicolor       versicolor
1       setosa           setosa
2    virginica        virginica
3    virginica        virginica
4   versicolor       versicolor
5    virginica        virginica
6   versicolor        virginica
7       setosa           setosa
8   versicolor       versicolor
9       setosa           setosa
10  versicolor       versicolor
11      setosa           setosa
12   virginica        virginica
13      setosa           setosa
14  versicolor        virginica
15   virginica        virginica
16   virginica        virginica
17   virginica        virginica
18      setosa           setosa
19  versicolor       versicolor
20      setosa           setosa
21      setosa           setosa
22   virginica        virginica
23  versicolor       versicolor
24  versicolor       versicolor
25      setosa           setosa
26  versicolor       versicolor
27      setosa           setosa
28   virginica        virginica
29  versicolor        virginica
30      setosa           setosa
31  versicolor       versicolor
32   virginica        virginica
33  versicolor       versicolor
34  versicolor       versicolor
35  versicolor       versicolor
36   virginica        virginica
37      setosa           setosa
38  versicolor       versicolor
39  versicolor       versicolor
40   virginica        virginica
41      setosa           setosa
42   virginica        virginica
43      setosa           setosa
44  versicolor       versicolor