<a href="https://colab.research.google.com/github/khoa2210/Hoc-Python/blob/main/SVM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Khai báo thư viện

In [12]:
import numpy as np 
import matplotlib.pyplot as plt 
import pandas as pd

Nhập tập dữ liệu

In [13]:
dataset = pd.read_csv('https://raw.githubusercontent.com/mk-gurucharan/Classification/master/IrisDataset.csv')
X = dataset.iloc[:,:4].values
y = dataset['species'].values
dataset.head(5)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

Tách tập dữ liệu thành tập huấn luyện và tập kiểm tra

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

Tính năng mở rộng quy mô

In [15]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

Đào tạo mô hình Phân loại SVM

In [26]:
from sklearn.svm import SVC
classifier = SVC()
classifier.fit(X_train, y_train)

SVC()



---

Đào tạo mô hình Phân loại SVM

In [27]:
y_pred = classifier.predict(X_test) 
y_pred

array(['versicolor', 'virginica', 'virginica', 'virginica', 'versicolor',
       'setosa', 'virginica', 'versicolor', 'setosa', 'versicolor',
       'setosa', 'setosa', 'virginica', 'versicolor', 'setosa',
       'virginica', 'virginica', 'setosa', 'virginica', 'setosa',
       'setosa', 'virginica', 'setosa', 'versicolor', 'setosa', 'setosa',
       'setosa', 'virginica', 'setosa', 'versicolor'], dtype=object)

Ma trận nhầm lẫn và độ chính xác

In [28]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
from sklearn.metrics import accuracy_score 
print ("Accuracy : ", accuracy_score(y_test, y_pred))
cm

Accuracy :  0.9666666666666667

array([[13,  0,  0],
       [ 0,  7,  1],
       [ 0,  0,  9]])

So sánh giá trị thực với giá trị dự đoán

In [29]:
df = pd.DataFrame({'Real Values':y_test, 'Predicted Values':y_pred})
df

   Real Values Predicted Values
0   versicolor       versicolor
1    virginica        virginica
2    virginica        virginica
3   versicolor        virginica
4   versicolor       versicolor
5       setosa           setosa
6    virginica        virginica
7   versicolor       versicolor
8       setosa           setosa
9   versicolor       versicolor
10      setosa           setosa
11      setosa           setosa
12   virginica        virginica
13  versicolor       versicolor
14      setosa           setosa
15   virginica        virginica
16   virginica        virginica
17      setosa           setosa
18   virginica        virginica
19      setosa           setosa
20      setosa           setosa
21   virginica        virginica
22      setosa           setosa
23  versicolor       versicolor
24      setosa           setosa
25      setosa           setosa
26      setosa           setosa
27   virginica        virginica
28      setosa           setosa
29  versicolor       versicolor